* { 
	margin: 0; 
	padding
	: 0; 
}

#page-wrap {
	margin: 50px;
}
	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table { 
		width: 100%; 
		border-collapse: collapse; 
	}
	tr:nth-of-type(even) { 
		background: #A9D0F5; 
	}
	tr:nth-of-type(odd) {
		background: #eee;
	}
	th { 
		background: #045FB4; 
		color: white; 
		font-weight: bold; 
	}
	td, th { 
		padding: 6px; 
		border: 1px solid #ccc; 
		text-align: left; 
	}